body{
    margin: 80px;
    
}
h1{
    width: 500px;
    height: 100px;
    background: rgb(49, 151, 177);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: chocolate;
}
.nav a{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}
